* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Gotham";
  src: url("./fonts/Gotham Medium Regular.ttf");
}

html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.first-container {
  width: 100%;
  max-width: 1600px;
  height: 800px;
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  background: -ms-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.first-container::after {
  content: '';
  background-image: url("../img/first-picture.png");
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.first-container .first-container__header {
  width: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first-container .first-container__header .first-container__header_logo {
  padding-left: 215px;
  padding-top: 53px;
  width: 100%;
  max-width: 241px;
  height: 54px;
  position: relative;
  z-index: 3;
}

.first-container .first-container__header .first-container__header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  padding-top: 48px;
  margin-left: 210px;
  width: 100%;
  max-width: 761px;
  height: 54px;
  position: relative;
  z-index: 3;
}

.first-container .first-container__header .first-container__header_menu li {
  margin-left: 80px;
  list-style-type: none;
  line-height: 60px;
}

.first-container .first-container__header .first-container__header_menu li label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.first-container .first-container__header .first-container__header_menu li p:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 5px 0 0;
  width: 10px;
  height: 10px;
  border-radius: 11px;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.first-container .first-container__header .first-container__header_menu li p:before:hover {
  display: none;
}

.first-container .first-container__header .first-container__header_menu li input[type=radio] {
  display: none;
}

.first-container .first-container__header .first-container__header_menu li input[type=radio]:hover + p:after {
  content: " ";
  display: block;
  background: #ffffff;
  border-radius: 11px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 22px;
  left: 0px;
}

.first-container .first-container__header .first-container__header_menu li a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Gotham";
  color: white;
}

.first-container .first-container__header .first-container__header_social-icon {
  padding-left: 100px;
  padding-top: 51px;
  font-size: 16px;
  font-family: "FontAwesome";
  color: white;
  text-transform: uppercase;
  width: 100%;
  max-width: 511px;
  height: 54px;
  position: relative;
  z-index: 3;
}

.first-container .first-container__header .first-container__header_social-icon a {
  color: white;
}

.first-container .first-container__header .first-container__header_social-icon .fa-facebook-f {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 14px 18px 14px 18px;
  border-radius: 50%;
}

.first-container .first-container__header .first-container__header_social-icon .fa-facebook-f:hover {
  color: #410ecc;
  cursor: pointer;
}

.first-container .first-container__header .first-container__header_social-icon .fa-twitter {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 14px 14.5px 14px;
  border-radius: 50%;
}

.first-container .first-container__header .first-container__header_social-icon .fa-twitter:hover {
  color: #96c2f5;
  cursor: pointer;
}

.first-container .first-container__header .first-container__header_social-icon .fa-instagram {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 14px 15px 14px 15px;
  border-radius: 50%;
}

.first-container .first-container__header .first-container__header_social-icon .fa-instagram:hover {
  color: #f170c0;
  cursor: pointer;
}

.first-container .first-container__block {
  cursor: pointer;
}

.first-container .first-container__block .first-container__first-block {
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  margin-top: 28px;
  width: 100%;
  max-width: 1600px;
  text-align: center;
}

.first-container .first-container__block .first-container__first-block .first-container__first-block_first-text {
  font-size: 80px;
  font-weight: bold;
  line-height: 0.275;
  letter-spacing: 5px;
}

.first-container .first-container__block .first-container__first-block .first-container__first-block_second-text {
  font-size: 18px;
  line-height: 7;
  letter-spacing: 4px;
  width: 100%;
  height: 54px;
}

.first-container .first-container__block .first-container__second-block {
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  margin-top: 28px;
  width: 100%;
  max-width: 1600px;
  text-align: center;
}

.first-container .first-container__block .first-container__second-block .first-container__second-block_first-text {
  font-size: 80px;
  font-weight: bold;
  line-height: 0.275;
  letter-spacing: 5px;
}

.first-container .first-container__block .first-container__third-block {
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  margin-top: 28px;
  width: 100%;
  max-width: 1600px;
  text-align: center;
}

.first-container .first-container__block .first-container__third-block .first-container__third-block_first-text {
  font-size: 80px;
  font-weight: bold;
  line-height: 0.275;
  letter-spacing: 5px;
}

.first-container .first-container__block .first-container__fourth-block {
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  margin-top: 28px;
  width: 100%;
  max-width: 1600px;
  text-align: center;
}

.first-container .first-container__block .first-container__fourth-block .first-container__fourth-block_first-text {
  font-size: 80px;
  font-weight: bold;
  line-height: 0.275;
  letter-spacing: 5px;
}

.first-container .first-container__scroll {
  font-size: 14px;
  font-family: "FontAwesome";
  color: white;
  margin-top: 530px;
  text-align: center;
  position: relative;
  z-index: 3;
}

.first-container .first-container__scroll:hover {
  font-size: 16px;
  cursor: pointer;
}

.first-container .first-container__scroll a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.first-container .first-container__scroll .fa-chevron-down {
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 13px 14px 13px 14px;
  border-radius: 50%;
}

.second-container {
  width: 100%;
  max-width: 1600px;
  height: 1600px;
  margin: 0 auto;
  background-color: white;
}

.second-container .second-container__header-text {
  font-size: 44px;
  font-family: "Gotham";
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  padding-top: 120px;
}

.second-container .second-container__first-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-container .second-container__first-block .second-container__first-block_blue-square {
  background-color: #55b7ff;
  position: relative;
  width: 630px;
  height: 470px;
  margin-top: 140px;
  z-index: 1;
}

.second-container .second-container__first-block .second-container__first-block_img {
  position: relative;
  top: 210px;
  right: 350px;
  z-index: 2;
}

.second-container .second-container__first-block .second-container__first-text {
  margin-top: 210px;
  position: relative;
  right: 240px;
}

.second-container .second-container__first-block .second-container__first-text .second-container__first-text-h4 {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
}

.second-container .second-container__first-block .second-container__first-text .second-container__first-text-h2 {
  font-size: 44px;
  font-weight: bold;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  padding-top: 5px;
}

.second-container .second-container__first-block .second-container__first-text .second-container__first-text-h5 {
  width: 100%;
  max-width: 460px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #4b5562;
  padding-top: 20px;
}

.second-container .second-container__first-block .second-container__first-text .second-container__first-text-button {
  font-size: 14px;
  font-family: "Gotham";
  text-transform: uppercase;
  line-height: 1.571;
  margin-top: 40px;
  padding: 12px;
  border: 1px solid #2c4058;
  text-align: center;
  width: 188px;
  height: 48px;
  cursor: pointer;
}

.second-container .second-container__first-block .second-container__first-text .second-container__first-text-italic {
  padding-top: 40px;
  font-style: italic;
}

.second-container .second-container__first-block .second-container__first-text .second-container__first-text-italic .fa-map-marker-alt {
  font-size: 18px;
  padding-right: 10px;
  color: #2c4058;
}

.second-container .second-container__second-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second-container .second-container__second-block .second-container__second-block_blue-square {
  background-color: #7e5aff;
  position: relative;
  width: 630px;
  height: 470px;
  margin-top: 200px;
  z-index: 1;
}

.second-container .second-container__second-block .second-container__second-block_img {
  position: relative;
  top: 270px;
  left: 320px;
  z-index: 2;
}

.second-container .second-container__second-block .second-container__second-text {
  margin-top: 270px;
  position: relative;
  left: 210px;
}

.second-container .second-container__second-block .second-container__second-text .second-container__second-text-h4 {
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
}

.second-container .second-container__second-block .second-container__second-text .second-container__second-text-h2 {
  width: 100%;
  max-width: 1500px;
  font-size: 44px;
  font-weight: bold;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.091;
  padding-top: 5px;
  white-space: nowrap;
}

.second-container .second-container__second-block .second-container__second-text .second-container__second-text-h5 {
  width: 100%;
  max-width: 460px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #4b5562;
  padding-top: 20px;
}

.second-container .second-container__second-block .second-container__second-text .second-container__second-text-button {
  font-size: 14px;
  font-family: "Gotham";
  text-transform: uppercase;
  line-height: 1.571;
  margin-top: 40px;
  padding: 12px;
  border: 1px solid #2c4058;
  text-align: center;
  width: 188px;
  height: 48px;
  cursor: pointer;
}

.second-container .second-container__second-block .second-container__second-text .second-container__second-text-italic {
  padding-top: 40px;
  font-style: italic;
}

.second-container .second-container__second-block .second-container__second-text .second-container__second-text-italic .fa-map-marker-alt {
  font-size: 18px;
  padding-right: 10px;
  color: #2c4058;
}

.third-container {
  width: 100%;
  max-width: 1600px;
  height: 1035px;
  background: linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
  background-image: -ms-linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.third-container::after {
  content: '';
  background-image: url("../img/city.png");
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  height: 1035px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.third-container .third-container__header {
  font-size: 44px;
  font-family: "Gotham";
  color: white;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  padding-top: 40px;
  position: relative;
  z-index: 3;
}

.third-container .third-container__header hr {
  border: none;
  background-color: white;
  height: 2px;
  width: 100px;
  margin: 50px auto;
}

.third-container .third-container__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  position: relative;
  left: 80px;
  z-index: 3;
}

.third-container .third-container__slides .third-container__first-slide {
  background-color: white;
  width: 100%;
  max-width: 370px;
  height: 514px;
}

.third-container .third-container__slides .third-container__first-slide .third-container__first-slide_text-h2 {
  width: 100%;
  max-width: 320px;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.545;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__first-slide .third-container__first-slide_text-h4 {
  width: 100%;
  max-width: 320px;
  font-size: 18px;
  font-family: "OpenSans";
  color: #4b5562;
  line-height: 1.47;
  padding-left: 15px;
  padding-top: 10px;
  letter-spacing: 0.5px;
}

.third-container .third-container__slides .third-container__first-slide .third-container__first-slide_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 15px;
}

.third-container .third-container__slides .third-container__first-slide .third-container__first-slide_author .third-container__first-slide_author_img {
  border-radius: 50%;
}

.third-container .third-container__slides .third-container__first-slide .third-container__first-slide_author .third-container__first-slide_author_name {
  font-size: 18px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.222;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__first-slide .third-container__first-slide_author .third-container__first-slide_author_date {
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  line-height: 1.571;
  padding-left: 15px;
  padding-top: 5px;
}

.third-container .third-container__slides .third-container__second-slide {
  background-color: white;
  width: 100%;
  max-width: 370px;
  height: 514px;
}

.third-container .third-container__slides .third-container__second-slide .third-container__second-slide_text-h2 {
  width: 100%;
  max-width: 320px;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.545;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__second-slide .third-container__second-slide_text-h4 {
  width: 100%;
  max-width: 320px;
  font-size: 18px;
  font-family: "OpenSans";
  color: #4b5562;
  line-height: 1.47;
  padding-left: 15px;
  padding-top: 10px;
  letter-spacing: 0.5px;
}

.third-container .third-container__slides .third-container__second-slide .third-container__second-slide_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 15px;
}

.third-container .third-container__slides .third-container__second-slide .third-container__second-slide_author .third-container__second-slide_author_img {
  border-radius: 50%;
}

.third-container .third-container__slides .third-container__second-slide .third-container__second-slide_author .third-container__second-slide_author_name {
  font-size: 18px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.222;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__second-slide .third-container__second-slide_author .third-container__second-slide_author_date {
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  line-height: 1.571;
  padding-left: 15px;
  padding-top: 5px;
}

.third-container .third-container__slides .third-container__third-slide {
  background-color: white;
  width: 100%;
  max-width: 370px;
  height: 514px;
}

.third-container .third-container__slides .third-container__third-slide .third-container__third-slide_text-h2 {
  width: 100%;
  max-width: 320px;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.545;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__third-slide .third-container__third-slide_text-h4 {
  width: 100%;
  max-width: 320px;
  font-size: 18px;
  font-family: "OpenSans";
  color: #4b5562;
  line-height: 1.47;
  padding-left: 15px;
  padding-top: 10px;
  letter-spacing: 0.5px;
}

.third-container .third-container__slides .third-container__third-slide .third-container__third-slide_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 15px;
}

.third-container .third-container__slides .third-container__third-slide .third-container__third-slide_author .third-container__third-slide_author_img {
  border-radius: 50%;
}

.third-container .third-container__slides .third-container__third-slide .third-container__third-slide_author .third-container__third-slide_author_name {
  font-size: 18px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.222;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__third-slide .third-container__third-slide_author .third-container__third-slide_author_date {
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  line-height: 1.571;
  padding-left: 15px;
  padding-top: 5px;
}

.third-container .third-container__slides .third-container__fourth-slide {
  background-color: white;
  width: 100%;
  max-width: 370px;
  height: 514px;
}

.third-container .third-container__slides .third-container__fourth-slide .third-container__fourth-slide_text-h2 {
  width: 100%;
  max-width: 320px;
  font-size: 22px;
  font-family: "Gotham";
  color: #2c4058;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.545;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__fourth-slide .third-container__fourth-slide_text-h4 {
  width: 100%;
  max-width: 320px;
  font-size: 18px;
  font-family: "OpenSans";
  color: #4b5562;
  line-height: 1.47;
  padding-left: 15px;
  padding-top: 10px;
  letter-spacing: 0.5px;
}

.third-container .third-container__slides .third-container__fourth-slide .third-container__fourth-slide_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-left: 15px;
}

.third-container .third-container__slides .third-container__fourth-slide .third-container__fourth-slide_author .third-container__fourth-slide_author_img {
  border-radius: 50%;
}

.third-container .third-container__slides .third-container__fourth-slide .third-container__fourth-slide_author .third-container__fourth-slide_author_name {
  font-size: 18px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 1.222;
  padding-left: 15px;
  padding-top: 10px;
}

.third-container .third-container__slides .third-container__fourth-slide .third-container__fourth-slide_author .third-container__fourth-slide_author_date {
  font-size: 14px;
  font-family: "Gotham";
  color: #55b7ff;
  line-height: 1.571;
  padding-left: 15px;
  padding-top: 5px;
}

.fourth-container {
  width: 100%;
  max-width: 1600px;
  height: 900px;
  margin: 0 auto;
}

.fourth-container .fourth-container__header {
  font-size: 44px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  padding-top: 40px;
}

.fourth-container .fourth-container__header hr {
  border: none;
  background-color: #2c4058;
  height: 2px;
  width: 100px;
  margin: 50px auto;
}

.fourth-container .fourth-container__pictures {
  width: 100%;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-left: 215px;
}

.fourth-container .fourth-container__pictures .fourth-container__pictures_first-block {
  margin-left: 11px;
}

.fourth-container .fourth-container__pictures .fourth-container__pictures_first-block img:last-child {
  margin-top: 7px;
}

.fourth-container .fourth-container__pictures .fourth-container__pictures_second-block {
  margin-right: 415px;
}

.fourth-container .fourth-container__pictures .fourth-container__pictures_second-block img:last-child {
  margin-top: 7px;
}

.fourth-container .fourth-container__button {
  font-size: 14px;
  font-family: "Gotham";
  text-transform: uppercase;
  line-height: 1.571;
  margin-top: 40px;
  padding: 12px;
  border: 1px solid #2c4058;
  text-align: center;
  width: 188px;
  height: 48px;
  margin: 70px auto;
  cursor: pointer;
}

.fifth-container {
  width: 100%;
  max-width: 1600px;
  height: 700px;
  background-image: url("../img/map.png");
  margin: 0 auto;
}

.fifth-container .fifth-container__form {
  width: 100%;
  max-width: 770px;
  height: 450px;
  background-color: white;
  -webkit-box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);
          box-shadow: 0px -4px 30px 0px rgba(133, 133, 133, 0.2);
  margin: 0 auto;
  position: relative;
  top: 400px;
  z-index: 3;
}

.fifth-container .fifth-container__form::after {
  content: '';
  background-image: url("../img/city-background.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 450px;
  margin: 0 auto;
  position: absolute;
  top: 255px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.fifth-container .fifth-container__form .fourth-container__header {
  font-size: 44px;
  font-family: "Gotham";
  color: #2c4058;
  text-transform: uppercase;
  line-height: 0.5;
  text-align: center;
  padding-top: 10px;
}

.fifth-container .fifth-container__form .fourth-container__header hr {
  border: none;
  background-color: #2c4058;
  height: 2px;
  width: 100px;
  margin: 50px auto;
}

.fifth-container .fifth-container__form .fifth-container__form_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_text {
  padding-top: 40px;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_text .fas,
.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_text .far {
  font-size: 18px;
  color: #7e5aff;
  padding-right: 10px;
  padding-left: 50px;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_text p {
  line-height: 1.889;
  font-size: 18px;
  font-family: "Gotham";
  color: #2c4058;
  padding-top: 20px;
  white-space: nowrap;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_form {
  padding-top: 65px;
  padding-left: 50px;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_form input[type=text] {
  width: 100%;
  max-width: 300px;
  border: none;
  border-bottom: 1px solid rgba(75, 85, 98, 0.502);
  font-size: 18px;
  font-family: "Gotham";
  color: rgba(75, 85, 98, 0.502);
  line-height: 1.222;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_form input[type=text]:focus {
  font-size: 18px;
  font-family: "Gotham";
  color: black;
  outline: none;
  border-bottom: 1px solid black;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_form input[type=email] {
  width: 100%;
  max-width: 300px;
  border: none;
  border-bottom: 1px solid rgba(75, 85, 98, 0.502);
  font-size: 18px;
  font-family: "Gotham";
  color: rgba(75, 85, 98, 0.502);
  line-height: 1.222;
  margin-bottom: 40px;
  padding-bottom: 10px;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_form input[type=email]:focus {
  font-size: 18px;
  font-family: "Gotham";
  color: black;
  outline: none;
  border-bottom: 1px solid black;
}

.fifth-container .fifth-container__form .fifth-container__form_box .fifth-container__form_box_form input[type=button] {
  background-color: transparent;
  width: 110px;
  height: 40px;
  margin-left: 190px;
  border: 1px solid black;
  cursor: pointer;
}

.sixth-container {
  width: 100%;
  max-width: 1600px;
  height: 524px;
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  background: -ms-linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.sixth-container::after {
  content: '';
  background-image: url("../img/scott-webb.png");
  background-size: cover;
  width: 100%;
  max-width: 1600px;
  height: 524px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.seventh-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  bottom: 320px;
  left: 50px;
  z-index: 6;
}

.seventh-container .seventh-container__logo-and-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 206px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon {
  font-size: 16px;
  font-family: "FontAwesome";
  color: white;
  text-transform: uppercase;
  width: 100%;
  max-width: 511px;
  height: 54px;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon a {
  color: white;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon .fa-facebook-f {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 14px 18px 14px 18px;
  border-radius: 50%;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon .fa-facebook-f:hover {
  color: #410ecc;
  cursor: pointer;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon .fa-twitter {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 15px 14px 14.5px 14px;
  border-radius: 50%;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon .fa-twitter:hover {
  color: #96c2f5;
  cursor: pointer;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon .fa-instagram {
  margin-left: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 14px 15px 14px 15px;
  border-radius: 50%;
}

.seventh-container .seventh-container__logo-and-socials .seventh-container__logo-and-socials_social-icon .fa-instagram:hover {
  color: #f170c0;
  cursor: pointer;
}

.seventh-container .seventh-container__text {
  margin-left: 365px;
  padding-top: 20px;
  font-size: 14px;
  font-family: "Gotham";
  margin-top: 30px;
  color: white;
  line-height: 1.571;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-container__slides {
  position: relative;
  margin: 40px 80px;
  padding: 0 70px;
}

.third-container__slides .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  border: none !important;
  cursor: pointer;
}

.third-container__slides .slick-arrow.slick-next {
  left: 0;
  background: url("../img/left-arrow.png") 0 0/100% no-repeat;
  width: 50px;
  height: 50px;
  outline: none;
}

.third-container__slides .slick-arrow.slick-arrow.slick-prev {
  right: 0;
  background: url("../img/right-arrow.png") 0 0/100% no-repeat;
  width: 50px;
  height: 50px;
  outline: none;
  right: 130px;
}

.third-container__slides .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.third-container__slides .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.third-container__slides .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: none;
  position: relative;
  top: 290px;
  right: 670px;
  cursor: pointer;
}

.third-container__slides .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

/* First container*/
.first-container__block {
  position: relative;
  z-index: 7;
  top: 240px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.first-container__block .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  border: none !important;
  cursor: pointer;
}

.first-container__block .slick-dots {
  position: absolute;
  z-index: 10;
}

.first-container__block .slick-dots li {
  list-style: none;
  margin: 0 10px;
  padding-bottom: 30px;
}

.first-container__block .slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: none;
  position: relative;
  top: 29px;
  right: 60px;
  cursor: pointer;
}

.first-container__block .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}
/*# sourceMappingURL=style.css.map */